@import "tailwindcss";
.bg-plasma-dark {
  background-color: #001413; /* Dark green color */
}
.bg-plasma-light {
  background-color: #009393; /* Plasma green color */
}
.text-plasma {
  color: #009393; /* Plasma green color */
}
.text-plasma-dark {
  color: #001413; /* Plasma green color */
}